<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <!-- Interpolazione/Mustache syntax -->
        <!-- <h1>{{greeting}}</h1> -->

        <label for="user">Username</label>
        <input type="text" id="user" v-model="user">
        <label for="last">Lastname</label>
        <input type="text" id="user" v-model="last">
        <br>
        <button @click="saluta">Invia</button>

        <p :class="color"> {{greeting}} </p>

        <h2 :class="h2Red">Testo a caso</h2>
        <button @click="toggleColor">Toggle</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>